.appointment-list-container {
    padding: 20px;
    background-color: #f0f8ff; /* Light blue background */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.appointment-list-header {
    color: #004AAD; /* Blue */
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.appointment-table-container {
    overflow-x: auto;
    margin-bottom: 20px;
}

.appointment-styled-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    font-size: 1.1em;
    margin-top: 20px;
}

.appointment-styled-table th,
.appointment-styled-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.appointment-styled-table thead {
    background-color: #004AAD; /* Blue */
    color: #fff;
}

.appointment-styled-table tbody tr:first-child {
    background-color: white;
    color: black;
}

.appointment-styled-table tbody tr {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s ease-in-out;
}

.appointment-styled-table tbody tr:hover {
    background-color: #dceaf7; /* Light blue hover effect */
}
